# General
# ------------------------------------------------------------------------------
USE_DOCKER=no

# Redis
# ------------------------------------------------------------------------------
REDIS_PORT=6379
REDIS_HOST=127.0.0.1
REDIS_URL=redis://redis:6379/0

# Celery
# ------------------------------------------------------------------------------
CELERY_BROKER_URL=redis://redis:6379/0

# Database
# ------------------------------------------------------------------------------
DATABASE_URL="postgres://postgres:<password>@127.0.0.1:5432/turbine"

# Flower
CELERY_FLOWER_USER=jANuMyNOcUmxzxjwsVLnCXgGeXorRDIL
CELERY_FLOWER_PASSWORD=EIhufx6onGeVjiaHaISWDuObMoJ5YBkYqYZsOkznyAtEaXPR8w5dQ3WyOKOJhQ0a
